.main-container{
    height: 100%;
    display: grid;
}
.array-container {
    display: flex;
    justify-content: center;
    height: 95vh;
    align-items: flex-end;
    width: 100%;
    padding:10px;
    padding-bottom: 0;
    border: 5px solid grey;
    box-sizing: border-box;
    overflow-x: auto;
}

.bar-transition .array-bar {
    transition: all .6s linear;
}
.array-bar{
    width: 2px;
    background-color: turquoise;
    display: inline-block;
    flex: 1;
}

.navbar{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: black;
}
