.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    padding-top: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

.array-bar{
    width: 2px;
    background-color: turquoise;
    display: inline-block;
    flex: 1;
}